/* Mobile 320 - 768 */
.header {
  margin: 0 auto;
  align-items: center;
  width: 18.75rem;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  color: var(--color1);
  padding: 0.625rem;
}

.logo_sb {
  width: 6.25rem;
}

.nav-header {
  display: none;
}
/* Desktop 769 - 1024 */
@media (min-width: 769px) {
  .header {
    width: 41.188rem;
    justify-content: space-between;
    padding: 0;
  }
}


@media  (min-width: 1300px) {
  .header {
    width: 72.4375rem;
    }
  }