@media (min-width: 769px) {
footer {
  margin: 0 auto;
  width: 749px;
  height: 100px;
  text-align: center;
  display: flex;
}

.copy {
  margin: auto;
  justify-content: center;
  text-align: end;
  width: 374.5px;
}

.logos {
  width: 374.5px;
  margin: auto;

}
.logos-footer {
  height: 40px;
  padding: 8px;
}
}