main {
  background-color: var(--color4);
}

.sectionOne {
  padding-top: 20px;
  margin: 0 auto;
  width: 280px;
  padding-bottom: 100px;
}

.sectionOne__description {
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  width: 194px;
  height: 70px;
  font-style: italic;
}

.sectionOne__img1 {
  width: 100%;
  margin-left: 5%;
}

.sectionOne h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 58px;
}

.div-section-one {
  width: 280px;
  height: 200px;

}

.div-section-one p {
  padding-top: 23px;

}

.sectionOne__img2 {
  width: 50%;
  margin-top: 24px;
  margin-right: 10px;
}

.sectionTwo-bg {
  background-color: white;
  text-align: center;
  padding-bottom: 60px;
}

.sectionTwo {
  margin: 0 auto;
  width: 300px;
}
.sectionTwo h2 {
  margin-bottom: 7px;
  padding: 50px 0px 0px 0px;
  font-size: 1.4rem;
  font-weight: 600;
}

.sectionTwo picture {
  margin: 0 auto;
  display: block;
  width: 220px;
}

.sectionTwo picture button {
  margin: 15px auto 60px;
  display: block;
  width: 100px;
  height: 37px;
  background-color: transparent;
  text-transform: uppercase;
  border: solid blue;
  color: blue;
  font-size: 23px;
}

.sectionTwo picture img {
  width: 100%;
}

.descripitionTwo {
  margin-bottom: 20px;
}

.sectionThree {
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  width: 280px;
}

.imageThree {
  width: 100%;
  margin-bottom: 120px;
}

.titleThree {
  margin-bottom: 20px;
}

.descriptionThree {
  margin-bottom: 40px;
}

.titleThree-two {
  text-align: center;
  margin-bottom: 40px;
}

.buttonThree {
  margin-top: 40px;
  font-weight: 900;
  height: 60px;
  width: 150px;
  padding: 2px;
  border-color: blue;
  background-color: white;
  color: #f171a1;
}


@media (min-width: 769px) {
  .sectionOne {
    width: 659px;
  }

  .sectionOne__description {
    margin-left: 397px;
    width: 260px; 
  }

  .sectionOne__img1{
    width: 80%;
    margin-left: 14.5%;
  }

.sectionOne h2 {
  font-size: 1.563rem;
}

.div-section-one {
  width: 560px;
  font-size: 20px;
}
.sectionTwo-bg {
  height: 680px;
}
.sectionTwo {
  width: 659px;
}

.box__pictures {

  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 50px;
}


.sectionThree {
  width: 659px;
  height: 680px;
}

.sectionThree__container {
  margin-top: -60px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 80px;
}

.descriptionThree  {
  font-size: 1.25rem;
width: 250px;
 
}

.imageThree {
width: 50%;
margin-top: 60px;
}

.titleThree-two {
  margin: 0 auto;
  width: 270px;
  font-size: 1.75rem;
}
}

